* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

body {
   background: linear-gradient(0deg, rgba(217,187,241,1) 0%, rgba(150,36,237,1) 100%);
   margin: 0;
}

.wrapper {
   display: flex;
   flex-direction: row;
   height: 100vh;
}

#header-part {
   display: flex;
   flex-direction: column;
   text-align: center;
   color: #1d1d1f;
   width: 30%;
   margin-top: 250px;
}

#logo {
   font-size: 42px;
   text-shadow: 2px 1px;
   margin-bottom: 20px;
}

#message {
   font-size: 24px;
   margin-bottom: 20px;
}

#or {
   font-size: 36px;
   text-shadow: 2px 1px;
   margin-bottom: 20px;
}

#create-room-btn {
   box-sizing: border-box;
   background: linear-gradient(0deg, rgb(208, 166, 241) 100%, rgba(150,36,237,1) 0%);
   height: auto;
   max-width: 250px;
   width: auto;
   flex-wrap: wrap;
   padding: 10px;
   margin: 5px;
   align-self: center;
   border: 1px solid rgb(167, 159, 159);
   border-radius: 1.25rem;
   cursor: pointer;
   font-size: 16px;
   text-align: center;
   /* width: 100%; */
   max-height: 200px;
}

#create-room-btn:hover,
#create-room-btn:focus,
#create-room-btn:active {
  background: linear-gradient(0deg, rgba(217,187,241,1) 0%, rgb(160, 66, 231) 100%);
  border: none;
}

.main {
   height: 90vh;
   width: 50%;
   overflow-y: scroll;
   overflow: auto;
   border-radius: 1.2rem;
   box-shadow: 5px 10px 18px rgb(116, 84, 134);
   align-self: center;
   margin: 10px;
}

.rooms-wrapper {
   display: flex;
   flex-direction: row;
   flex-flow: row wrap;
   font-family: Comic Sans, Comic Sans MS, cursive;
}

.room-details {
   display: flex;
   align-items: center;
   box-sizing: border-box;
   justify-content: center;
   /* background: linear-gradient(0deg, rgba(217,187,241,1) 100%, rgba(150,36,237,1) 0%); */
   width: 200px;
   height: 200px;
   padding: 50px;
   margin: 10px;
   border: 1px solid rgb(167, 159, 159);
   border-radius: 1.2rem;
   box-shadow: 5px 10px 18px rgb(116, 84, 134);
}

 .room-details:hover,
 .room-details:focus {
  background: linear-gradient(0deg, rgba(217,187,241,1) 0%, rgb(160, 66, 231) 100%);
}

.room-name-btn {
   background: transparent;
   padding: 10px;
   border: none;
   cursor: pointer;
   font-size: 20px;
   color:rgb(62, 8, 99);
   font-weight: bold;
   height: auto;
   width: auto;
   max-width: 140px;
   max-height: 200px;
}

.room-name-btn:focus,
.room-name-btn:hover,
.room-name-btn:active {
  text-shadow: 10px 20px 20px rgb(90, 32, 124);
}

#footer {
   max-height: 25%;
   width: 20%;
   padding: 20px;
   align-self: flex-end;
   font-size: 24px;
}

#footer-text {
   text-align: center;
   color: rgb(53, 51, 51);
}

.modal-form {
   background: linear-gradient(0deg, rgb(219, 188, 245) 0%, rgb(195, 135, 241) 100%);
   position: fixed;
   max-width: 450px;
   width: 100%;
   padding: 10px;
   border-radius: 8px;
   box-shadow: 5px 10px 18px rgb(116, 84, 134);
   z-index: 500;
   height: auto;
   max-height: 90%;
   left: 550px;
   top: 50px;
   box-sizing: border-box;
   transition: all 0.2s ease-out;
}

.header-part {
   flex-flow: column;
   display: flex;
   align-items: center;
   justify-content: center;
}

#close-modal-btn {
   align-self: flex-end;
   background: transparent;
   color: rgb(55, 4, 88);
   margin: 5px;
   font-size: 16px;
   padding-left: 5px;
   padding-right: 5px;
   border: none;
   cursor: pointer;
}

#close-modal-btn:hover {
   background: rgb(170, 93, 230);
   background: linear-gradient(0deg, rgb(194, 143, 236) 0%, rgb(158, 101, 202) 100%);
   cursor: pointer;
   border-radius: 50%;
}

#main-title {
   font-size: 36px;
   text-align: center;
   color: rgb(55, 4, 88);
   font-weight: bold;
 }

 #subtitle{
   font-size: 18px;
   font-weight: 600;
   color: rgb(93, 4, 153);
   margin-top: 5px;
   text-align: center;
   margin-bottom: 30px;
}

#chat-room {
   max-width: 100px;
   background-color: rgb(197, 155, 229);
   border-radius: 40%;
}

.main-part {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 20px;
}

.room-title {
   display: flex;
   flex-direction: row;
}

#label-add-title {
   color: rgb(93, 4, 153);
   font-weight: bold;
   margin-bottom: 8px;
}

 #title-input{
   width: 50%;
   margin-left: 15px;
}

.modal-input {
   background: transparent;
   font-size: 16px;
   border: none;
   border-bottom: 1px solid rgb(127, 55, 175);
   padding: 4px;
   border-radius: 8px;
   margin-bottom: 8px;
   align-items: center;
}

#label-add-members {
   color: rgb(93, 4, 153);
   font-weight: bold;
   margin-bottom: 8px;
 }

#adding-section {
   width: 100%;
   display: flex;
   flex-flow: row;
}

.show-users-emails {
   width: 100%;
   height: 200px;
   overflow-y: scroll;
   overflow: auto;
   border-radius: 8px;
   border: 1px solid rgb(127, 55, 175);
}

ul {
   list-style-type: none;
}

li {
   margin-top: 3px;
 }

.user {
   display: grid;
   grid-template-columns: 90% 6%;
   column-gap: 10px;
   padding: 6px;
   color: rgb(62, 8, 99);
   border: 1px;
   margin: 5px;
   padding: 5px;
}

.user:hover {
   background:  rgba(217,187,241,1)
}

.add-member-btn {
   float: right;
   padding: 1px 5px;
   border: none;
   background: linear-gradient(0deg, rgb(194, 143, 236) 0%, rgb(158, 101, 202) 100%);
   font-size: 14px;
   cursor: pointer;
   color: white;
   border-radius: 50%;
   text-align: center;
}

.add-member-btn:hover {
   background: rgb(170, 93, 230);
}

#create-btn-modal {
   float: right;
   padding: 5px 30px;
   border: none;
   font-size: 20px;
   font-weight: normal;
   cursor: pointer;
   border-radius: 1.25rem;
   color: #fff;
   text-align: center;
   width: 100%;
   max-width: 150px;
   height: 40px;
   background-color: rgb(191, 129, 238)
}

#create-btn-modal:hover,
#create-btn-modal:focus,
#create-btn-modal:active {
  background-color: rgb(170, 93, 230)
}

.footer-part {
   margin-top: 20px;
}

::placeholder {
   font-size: 18px;
}

.hidden-overflow {
   overflow: hidden;
   opacity: 0.5;
 }

@media screen and (max-width: 890px) {
   .wrapper {
      display: flex;
      flex-direction: column;
      /* height: auto; */
      margin: none;
      justify-content: center;
   }

   #header-part {
      color: #1d1d1f;
      align-self: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      color: #1d1d1f;
      max-height: 20%;
      max-width: 60%;
      margin-top: 10px;
   }

   #logo {
      font-size: 24px;
      margin-bottom: 0;
   }

   #message {
      font-size: 18px;
      margin-bottom: 0;
   }

   #or {
      font-size: 18px;
      margin-bottom: 0;
   }

   #create-room-btn {
      max-width: 200px;
      width: auto;
      padding: auto;
      align-self: center;
      border: 1px solid rgb(167, 159, 159);
      border-radius: 1.25rem;
      cursor: pointer;
      font-size: 16px;
      text-align: center;
      width: 100%;
      max-height: 200px;
      margin: 10px;
   }

   .main {
      height: auto;
      max-width: 60%;
      margin-top: 120px;
      border: none;
      box-shadow: none;
      align-self: center;
   }

   .rooms-wrapper {
      display: flex;
      flex-direction: column;
      flex-flow: column wrap;
   }

   .room-details {
      padding: 70px;
      align-self: center;
      box-sizing: border-box;
      max-width: 150px;
      max-height: 150px;
      height: auto;
      padding: 50px;
      margin-top: 10px;
   }

   #footer {
      max-width: 60%;
      padding: 20px;
      align-self: center;
      font-size: 18px;
   }

   .modal-form {
      background: linear-gradient(0deg, rgb(219, 188, 245) 0%, rgb(195, 135, 241) 100%);
      max-width: 400px;
      height: auto;
      max-height: 90%;
      left: 200px;
      box-sizing: border-box;
      transition: all 0.3s ease-out;
   }
}
