* {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 body {
   background: linear-gradient(0deg, rgba(217,187,241,1) 0%, rgba(150,36,237,1) 100%);
   margin: 0;
   padding: 0;
 }

 .wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
 }

.header-part {
   display: grid;
   grid-template-columns: 18% 50% 30%;
   column-gap: 5px;
   background: linear-gradient(0deg, rgb(215, 183, 241) 0%, rgb(186, 107, 247) 100%);
   place-items: center;
   color: rgb(83, 59, 97);
   font-weight: bold;
   height: 100%;
   max-height: 8%;
   border-bottom: 1px solid rgb(167, 159, 159);
   box-shadow: 5px 5px 10px rgb(116, 84, 134);
}

.first-part {
   justify-self: center;
   padding-left: 20px;
}

#logo {
   text-shadow: 1px 1px;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 24px;
   color: rgb(72, 49, 85);
}

.second-part {
   justify-self: center;
   display: flex;
   flex-direction: row;
}

#chat-room-name, #intro-msg {
   font-size: 24px;
   color: rgb(83, 59, 97);
   font-family: Comic Sans, Comic Sans MS, cursive;
}

#chat-room-name {
   text-shadow: 10px 10px 15px rgb(92, 31, 128);
}

.third-part {
   display: flex;
   flex-direction: row;
   justify-self: right;
}

#logout-btn {
   padding: 5px;
   float: right;
   border: none;
   color: rgb(83, 59, 97);
   cursor: pointer;
   font-size: 20px;
   text-align: center;
   width: 100%;
   max-width: 150px;
   height: 40px;
   background: transparent;
   margin: 5px;
   padding: 5px 20px;
   font-weight: bold;
   border-radius: 1.25rem;
   box-shadow: 5px 5px 10px rgb(116, 84, 134);
}

#logout-btn:hover,
#logout-btn:focus,
#logout-btn:active {
   background: linear-gradient(0deg, rgba(217,187,241,1) 0%, rgb(160, 66, 231) 100%);
  border: none;
}

.main-part {
   display: grid;
   grid-template-columns: 75% 23%;
   column-gap: 10px;
   max-height: 50%;
   padding: 5px;
   height: 100%;
   max-height: 91%;
}

.chat-area {
   display: grid;
   grid-template-rows: 75% 25%;
}

.messages-wrapper {
   padding: 10px;
   margin: 10px;
   font-family: Comic Sans, Comic Sans MS, cursive;
   font-weight: normal;
   overflow-y: scroll;
   overflow: auto;
   border: 1px solid rgb(167, 159, 159);
   border-radius: 1.2rem;
   box-shadow: 5px 10px 18px rgb(116, 84, 134);
   height: 450px;
}

.messages-list {
   display: flex;
   flex-direction: column;
   padding: 0;
   margin: 0;
   flex-flow: row wrap;
}

.message-modal {
   height: auto;
   max-height: 100px;
   width: 50%;
   margin: 10px;
   font-size: 16px;
   text-align: center;
   border: 1px solid rgb(167, 159, 159);
   border-radius: 1.2rem;
   box-shadow: 5px 5px 15px rgb(116, 84, 134);
   background: linear-gradient(0deg, rgba(217,187,241,1) 0%, rgb(160, 66, 231) 100%);
   overflow-y: scroll;
   overflow: auto;
}

.message-info {
   height: 100%;
   display: flex;
   flex-direction: column;
}

.first-row-msg {
   display: flex;
   flex-direction: row;
   /* margin-top: 5px; */
   align-items: baseline;
   justify-content: space-between;
}

.msg-user-info {
   display: flex;
   flex-direction: row;
   gap: 5px;
   justify-content: space-between;
}

.sender-name {
   padding-left: 10px;
   font-size: 18px;
   font-weight: bold;
   color: rgb(47, 44, 49);
   letter-spacing: normal;
}

.date {
   font-weight: normal;
   font-size: 17px;
   color: rgb(47, 44, 49);
   align-self: center;
   letter-spacing: normal;
}

button {
   background: transparent;
   border: none;
   padding: 5px;
}

.edit-msg-icon, .delete-msg-btn {
   color: rgb(10, 10, 10);
   cursor: pointer;
   text-shadow: 5px 5px 15px rgb(116, 84, 134);
}

.second-row-msg {
   max-height: 50px;
   overflow-y: scroll;
   overflow: hidden;
   align-self: flex-start;
}

.far {
   font-size: 16px;
}

.current-msg {
   font-size: 18px;
   color: rgb(10, 10, 10);
   font-weight: normal;
   padding-left: 10px;
}

.third-row-msg {
   display: flex;
   flex-direction: row;
   margin-top: 5px;
   align-items: baseline;
}

span {
   font-size: 16px;
   color: rgb(10, 10, 10);
   padding: 5px;
   text-shadow: 5px 5px 15px rgb(116, 84, 134);
}

.like-msg-icon, .dislike-msg-btn {
   color: rgb(10, 10, 10);
   cursor: pointer;
   margin-left: 20px;
   padding: 5px;
   text-shadow: 5px 5px 15px rgb(116, 84, 134);
}

.messages-list:nth-child(even){
   background-color: red;
}

.send-msg-area {
   display: grid;
   grid-template-columns: 85% 14%;
   column-gap: 10px;
   padding: 10px;
   margin: 5px;
}

#user-msg {
   font-size: medium;
   text-align: left;
   padding-left: 10px;
   height: 100%;
   border: 1px solid rgb(167, 159, 159);
   border-radius: 1rem;
   box-shadow: 5px 5px 10px rgb(116, 84, 134);
}

#send-msg {
   box-sizing: border-box;
   background: linear-gradient(0deg, rgb(208, 166, 241) 100%, rgba(150,36,237,1) 0%);
   height: auto;
   width: auto;
   flex-wrap: wrap;
   padding: 10px;
   margin: 5px;
   align-self: center;
   border: 1px solid rgb(167, 159, 159);
   border-radius: 1.25rem;
   cursor: pointer;
   font-size: 16px;
   text-align: center;
   font-weight: bold;
   color: rgb(83, 59, 97);
   width: 100%;
   max-height: 200px;
   box-shadow: 5px 10px 18px rgb(116, 84, 134);
   align-self: center;
}

#send-msg:hover,
#send-msg:focus,
#send-msg:active {
  background: linear-gradient(0deg, rgba(217,187,241,1) 0%, rgb(160, 66, 231) 100%);
  border: none;
}

.users-info-part {
   display: flex;
   flex-direction: column;
   background: linear-gradient(0deg, rgb(224, 210, 236) 0%, rgb(167, 103, 216) 100%);
   column-gap: 10px;
   margin: 5px;
   border-radius: 1.25rem;
   box-shadow: 5px 10px 18px rgb(116, 84, 134);
   overflow-y: scroll;
   overflow: auto;
   overflow-x: hidden;
}

#users-room-info {
   color: rgb(68, 47, 80);
   font-family: Comic Sans, Comic Sans MS, cursive;
   font-size: 24px;
   text-shadow: 10px 10px 15px rgb(92, 31, 128);
   font-weight: bold;
   text-align: center;
}

.current-user {
   list-style-type: none;
   height: 90px;
   width: 95%;
   align-self: center;
   margin: 10px;
   font-size: 22px;
   text-align: center;
   font-weight: bold;
   text-shadow: 5px 5px 5px rgb(177, 110, 216);
   border-radius: 1.2rem;
   box-shadow: 5px 5px 15px rgb(116, 84, 134);
   color: rgb(42, 28, 49);
   font-family: Comic Sans, Comic Sans MS, cursive;
}

.current-user:hover,
.current-user:focus {
  background: linear-gradient(0deg, rgba(217,187,241,1) 0%, rgb(160, 66, 231) 100%);
  border: none;
}