* {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 body {
   margin: 0;
   padding: 0;
 }

.navlist {
   display: grid;
   grid-template-columns: 18% 50% 30%;
   column-gap: 5px;
   background: linear-gradient(0deg, rgba(217,187,241,1) 0%, rgba(150,36,237,1) 100%);
   place-items: center;
   color: white;
   padding: 5px;
}

.first-part {
   justify-self: center;
   padding-left: 20px;
}

#logo {
   text-shadow: 1px 1px;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 28px;
}

.second-part {
   justify-self: center;
   display: flex;
   flex-direction: row;
   font-size: 22px;
}

.third-part {
   display: flex;
   flex-direction: row;
   justify-self: right;
}

.nav-btns {
   padding: 5px;
   float: right;
   border: none;
   border-radius: 1rem;
   color: #fff;
   cursor: pointer;
   font-size: 18px;
   text-align: center;
   max-width: 25rem;
   height: 2rem;
   background: transparent;
   margin: 5px;
}

.nav-btns:hover,
.nav-btns:focus,
.nav-btns:active {
  text-decoration: underline;
}
