* {
   font-family: Helvetica, sans-serif;
   box-sizing: border-box;
 }

 body {
   background: linear-gradient(0deg, rgba(217,187,241,1) 0%, rgba(150,36,237,1) 100%);
   font-size: 16px;
   margin-top: 0;
   margin-bottom: 0;
 }

 .wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
 }

 .main-form {
   border-radius: 0.5rem;
   background-color: #fff;
   display: block;
   padding: 2.5rem;
   width: 90%;
   max-width: 32rem;
  }

 #main-title {
   font-weight: normal;
   color: #4c3eca;
 }

 #subtitle {
   font-weight: normal;
   color: #848694;
 }

 .text-input {
   border: none;
   border-bottom: 1.5px solid #4154e0;
   background: transparent;
   height: 100%;
   width: 100%;
   padding-bottom: 1rem;
   padding: 12px 5px;
   margin: 8px 0;
 }

 .text-input:focus {
   outline: none;
   border-bottom: 2px solid #4154e0;
 }

 .actions {
   position: relative;
   margin-top: 4rem;
   margin-bottom: 1rem;
   width: 100%;
   border: 0;
   height: 2rem;
 }

 #submit {
   float: right;
   border: none;
   border-radius: 1.25rem;
   color: #fff;
   cursor: pointer;
   font-size: 1rem;
   text-align: center;
   width: 100%;
   max-width: 10rem;
   height: 2.5rem;
   background-color: rgb(191, 129, 238)
 }

 #submit:hover,
 #submit:focus,
 #submit:active {
   background-color: rgb(170, 93, 230)
 }

 .login-link {
   font-size: 1rem;
   color: #4c3eca;
   text-decoration: none;
   margin-top: 1rem;
 }

 .login-link:hover,
 .login-link:focus {
  text-decoration: underline;
}

.hidden {
  display: none;
}